//按钮button统一颜色样式
.el-button{border-radius:4px;padding: 0px 10px; min-width: 70px;height:30px;margin-bottom:0px;font-size: 12px;}
.el-button--primary{ background: #2e8ad7;color: #fff;border-radius:4px; }
.el-button--success{ background: #1ca589; color: #fff; border-radius:4px;}
.el-button--danger{ background: #e36a6a; color: #fff; border-radius:4px;}
.btn_multiple{ width: 140px;}//8个字按钮css
.appmain{
  .el-button:nth-of-type(1){margin-left:0px;margin-right:10px;}
  .el-button+.el-button{margin-left:0px; margin-right:10px; }
}